@{
    ViewData["Area"] = "Clientes";
}


<div class="row">
    <div class="col-6">
        <h1>Turnero XYZ</h1>
    </div>
    <div class="col-6">
        <h2>7 personas en la fila</h2>
    </div>
</div>
<div class="row justify-content-center">
    <form method="post" asp-action="ConfirmarTurno">
        <p><input type="checkbox" /> Enviarme la informacion por mail</p>
        <input type="email" id="email" name="email" />
        <button type="submit" class="btn-primary">Pedir el turno</button>
    </form>
</div>