
@{
    ViewData["Title"] = "Nuevo";
    ViewData["Area"] = "Clientes";
}

<h1>Solicitar</h1>

<div class="jumbotron">
    <h2>Busca un turnero</h2>
    <h2>En esta parte deberia ir el mapa para seleccionar el turnero.</h2>

    <form asp-controller="Turno" asp-action="SolicitarPorTurnero" method="get">
        <input type="text" name="concepto" value="Id del turnero" />
        <input type="submit" name="submit_button" value="Solicitar" />
    </form>
</div>

