@model Web.Areas.Clientes.Models.TurnoVM
@{
    ViewData["Title"] = "Crear";
}

    <div class="jumbotron">
        <div class="row">
            <h1>Se creo un turnopara el concepto @Model.Concepto</h1>
      </div>
        <div class="row">
            @Model.QR
        </div>
    </div>

