@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Web.Areas.Propietarios.Models
@model CrearTurneroVM
@{ 
    ViewData["Area"] = "Propietarios";
}
<h1>Crear Turnero</h1>

<form asp-action="Crear" method="post" name="crearTurneroForm">
    <div class="form-group">
        <label for="conceptoInput">Descripción</label>
        <input type="text"
               class="form-control"
               id="conceptoInput"
               aria-describedby="concepto"
               placeholder="Descripción del servicio"
               name="concepto"
               asp-for="Concepto">
    </div>
    <h4> Dirección </h4>
    <hr />
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCiudad">Ciudad</label>
            <input type="text"
                   class="form-control"
                   id="inputCiudad"
                   name="ciudad"
                   asp-for="Ciudad" />
        </div>
        <div class="form-group col-md-4">
            <label for="inputCalle">Calle</label>
            <input type="text"
                   id="inputCalle"
                   class="form-control"
                   name="calle"
                   asp-for="Calle" />
        </div>
        <div class="form-group col-md-2">
            <label for="inputNumero">Altura</label>
            <input type="number"
                   class="form-control"
                   id="inputNumero"
                   min="1"
                   name="numero"
                   asp-for="Numero">
        </div>
    </div>
    <div class="form-group">
        <label for="inputCapacidad"> Capacidad máxima </label>
        <input type="number"
               class="form-control"
               id="inputCapacidad"
               min="1"
               placeholder="Tamaño de la cola"
               name="CantidadMaxima"
               asp-for="CantidadMaxima"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>